.results-block {
  display: inline-block;    
}

.no-padding {
  padding: 0 !important;    
}

.left-padding {
  padding-left: 15px !important;    
}

.logout {
  padding-left: 0
}

.user-name {
  padding-top: 15px;
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 1.5%;
    margin-right: 0;
    float: right;
    border-color: #1798c4 #1798c4 hsl(195, 79%, 38%);    
  }
  .btn-danger:hover {
    background-color: darken(#d9534f, 20%) !important;
    color: darken(#333, 20%) !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);    
  }
}


.btn {
  color: #fff !important;
  border-color: #1798c4 #1798c4 hsl(195, 79%, 38%);
}

.btn:hover {
  color: darken(#333, 20%) !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
}


